<%- include('parts/header') %>
<%- include('parts/navbar') %>


<link rel="stylesheet" href="/thanks.css">




<div class="title-container">

    <h1 class="heading">
        <i class="fa fa-check-circle" style="font-size:40px"></i>
    
        Votre Réservation est validée 
     </h1>
</div>





<%- include('parts/footer') %>