 <!Doctype html>

<html>
    <head>
        <meta charset="UTF-8">


       <title> 

      
          <%= pageTitle %> - Booking Travel


        


    

    </title> 


   

        <link rel="stylesheet" href="/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="/style.css">


        <style>
            /* table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }
        
                th, td {
                 padding: 15px;
                    }                       */





                   






            </style>
             <!-- Font Awesome Cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- Font Awesome Cdn -->
    </head>
    <body>