 body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    padding: 10px;
    background-color:paleturquoise;
    color: bisque;
    text-align: center;
}


footer .footer-logo {
    font-size: 36px;
    font-weight: 550;
    padding-top: 30px;
    color: black;
    text-shadow: 0px 0px 1px black;
        margin-left: 40px;

}
footer .footer-logo span{
    color: #ffa500;
}

/* 
footer  p{
    text-align:center;

    font-weight: 600;
    padding-top: 30px;
    color:black;

} */

footer .paragraphe p{
 text-align:center;

    font-weight: 600;
    margin-top: 30px;

    margin-left: 70px;
    color:black;
}


footer .credit p{
 text-align:center;

    font-weight: 600;
    padding-top: 30px;
    color: black;
}



footer 
.copyright p{
    text-align:center;

    font-weight: 600;
    padding-top: 30px;
    color: black;

}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #ffa500;
}





